<section class="section-kitchen">
  <div class="container">
    <h2 class="visually-hidden kitchen-title"></h2>
    <div class="wrap-kitchen">
      <div class="container-kitchen-all-pic">
        <picture class="cooker-pic">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../../img/restaraunt/cooker/r-cooker-deck-1.webp 1x,
              ../../img/restaraunt/cooker/r-cooker-deck-2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ../../img/restaraunt/cooker/r-cooker-deck-1.jpg 1x,
              ../../img/restaraunt/cooker/r-cooker-deck-2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../../img/restaraunt/cooker/r-cooker-tab-1.webp 1x,
              ../../img/restaraunt/cooker/r-cooker-tab-2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../../img/restaraunt/cooker/r-cooker-tab-1.jpg 1x,
              ../../img/restaraunt/cooker/r-cooker-tab-2.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../../img/restaraunt/cooker/r-cooker-mob-1.webp 1x,
              ../../img/restaraunt/cooker/r-cooker-mob-2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../../img/restaraunt/cooker/r-cooker-mob-1.jpg 1x,
              ../../img/restaraunt/cooker/r-cooker-mob-2.jpg 2x
            "
          />
          <img
            src="../../img/restaraunt/cooker/r-cooker-deck-1.jpg"
            class="cooker-img"
            alt="Cooker"
          />
        </picture>
        <div class="container-kitchen-small-pic">
          <picture class="kitchen-small-pic">
            <source
              media="(min-width: 1440px)"
              srcset="
                ../../img/restaraunt/meat/r-meat-deck-1.webp 1x,
                ../../img/restaraunt/meat/r-meat-deck-2.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../../img/restaraunt/meat/r-meat-deck-1.jpg 1x,
                ../../img/restaraunt/meat/r-meat-deck-2.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../../img/restaraunt/meat/r-meat-tab-1.webp 1x,
                ../../img/restaraunt/meat/r-meat-tab-2.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../../img/restaraunt/meat/r-meat-tab-1.jpg 1x,
                ../../img/restaraunt/meat/r-meat-tab-2.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../../img/restaraunt/meat/r-meat-mob-1.webp 1x,
                ../../img/restaraunt/meat/r-meat-mob-2.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../../img/restaraunt/meat/r-meat-mob-1.jpg 1x,
                ../../img/restaraunt/meat/r-meat-mob-2.jpg 2x
              "
            />
            <img
              src="../../img/restaraunt/meat/r-meat-deck-1.jpg"
              class="mobile-meat-img"
              alt="Meat"
            />
          </picture>
          <picture class="kitchen-small-pic">
            <source
              media="(min-width: 1440px)"
              srcset="
                ../../img/restaraunt/cup/r-cup-deck-1.webp 1x,
                ../../img/restaraunt/cup/r-cup-deck-2.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ../../img/restaraunt/cup/r-cup-deck-1.jpg 1x,
                ../../img/restaraunt/cup/r-cup-deck-2.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../../img/restaraunt/cup/r-cup-tab-1.webp 1x,
                ../../img/restaraunt/cup/r-cup-tab-2.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../../img/restaraunt/cup/r-cup-tab-1.jpg 1x,
                ../../img/restaraunt/cup/r-cup-tab-2.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../../img/restaraunt/cup/r-cup-mob-1.webp 1x,
                ../../img/restaraunt/cup/r-cup-mob-2.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../../img/restaraunt/cup/r-cup-mob-1.jpg 1x,
                ../../img/restaraunt/cup/r-cup-mob-2.jpg 2x
              "
            />
            <img
              src="../../img/restaraunt/cup/r-cup-deck-1.jpg"
              class="mobile-cup-img"
              alt="Cup"
            />
          </picture>
        </div>
      </div>
      <div class="kitchen-text-both">
        <p class="kitchen-text-one">
          At Mimino, we are experts in m<span class="italic"
            >eat preparation</span
          >. Our chefs use only the finest and freshest ingredients to
          <span class="italic">create delicious dishes</span>
          that showcase the flavors of premium cuts of meat.
        </p>
        <p class="kitchen-text-second">
          Our
          <span class="italic">slow-cooking process</span> and expert seasoning
          bring out the best in each dish, making for an unforgettable dining
          experience. Come taste the magic
          <span class="italic">of meat preparation at</span>
          Mimino.
        </p>
      </div>
    </div>
  </div>
</section>
