    <section class="hero section">
        <div class="hero-nav">
          <h1 class="rest-hero-title">RESTAURANT</h1>
          <ul class="hero-buttons">
            <li><button type="button" class="btn_dark">BOOK A TABLE</button></li>
            <li><a href="" class="btn_dark">VIEW A MENU</a></li>
          </ul>
        </div>
        <div class="hero-images">
            <div class="rest-images">
              <div class="rest-image-one"></div>
              <div class="rest-image-two"></div>
              <div class="rest-image-three"></div>
            </div>
            <ul class="images-buttons">
                <li><img src="../../img/hero/btn-prev.svg" alt=""></li>
                <li><img src="../../img/hero/btn-next.svg" alt=""></li>
            </ul>
        </div>
        <div class="hero-descr">
          <p>Whether you're in the mood for a hearty breakfast,
            a light lunch, or a <span>romantic dinner</span>, 
            our menu has something for everyone.
          </p>
        </div>
    </section>
