<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="hero section">
        <div class="hero-nav">
          <h1 class="rest-hero-title">RESTAURANT</h1>
          <ul class="hero-buttons">
            <li><button type="button" class="btn_dark">BOOK A TABLE</button></li>
            <li><a href="" class="btn_dark">VIEW A MENU</a></li>
          </ul>
        </div>
        <div class="hero-images">
            <div class="image"></div>
            <ul class="images-buttons">
                <li><img src="/src/img/hero/btn-prev.svg"></li>
                <li><img src="/src/img/hero/btn-next.svg"></li>
            </ul>
        </div>
        <div class="hero-descr">
          <p>Whether you're in the mood for a hearty breakfast,
             a light lunch, or a <span>romantic dinner</span>, 
             our menu has something for everyone.
          </p>
        </div>
    </section>
</body>
</html>
