<section class="section-menu">
  <div class="container wrap-menu">
    <h2 id="menu" class="menu-title">RESTAURANT MENU</h2>
    <div class="container-menu">
      <div class="container-menu-item">
        <h3 class="menu-item-title">Hot meals</h3>
        <ul class="menu-list">
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Veal borscht with beans</p>
              <p class="menu-content">
                Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                tomatoes, greens, sour cream
              </p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">400 g</p>
              <p class="menu-price">240 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Cheese soup with chicken</p>
              <p class="menu-content">
                Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                greens
              </p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">400 g</p>
              <p class="menu-price">200 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Carbonara pasta</p>
              <p class="menu-content">
                Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
              </p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">400 g</p>
              <p class="menu-price">430 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Pork steak</p>
              <p class="menu-content">
                Pork tenderloin, spices, served with sweet chili sauce and
                vegetables
              </p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">400 g</p>
              <p class="menu-price">500 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Gorbusha in white wine sauce</p>
              <p class="menu-content">
                Tender redfish, cream sauce based on white wine
              </p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">400 g</p>
              <p class="menu-price">400 UAH</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="container-menu-item menu-is-hidden">
        <h3 class="menu-item-title">Side dishes and snacks</h3>
        <ul class="menu-list">
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Baked vegetables</p>
              <p class="menu-content">Zucchini, pepper, tomato, eggplant</p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">200 g</p>
              <p class="menu-price">230 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">French fries</p>
              <p class="menu-content">Potatoes, tomato sauce</p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">150 g</p>
              <p class="menu-price">160 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Peasant-style potatoes</p>
              <p class="menu-content">Potatoes, spices, spicy sauces</p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">150 g</p>
              <p class="menu-price">160 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Crisp pickles from the barrel</p>
              <p class="menu-content">
                Salted cucumber, pickled tomato, sauerkraut, Korean carrot
              </p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">250 g</p>
              <p class="menu-price">350 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Chicken wings in honey sauce</p>
              <p class="menu-content">
                Chicken wings, mustard-honey sauce, served with carrots, celery
                and blue cheese sauce
              </p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">400 g</p>
              <p class="menu-price">400 UAH</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="container-menu-item menu-is-hidden">
        <h3 class="menu-item-title">Salads</h3>
        <ul class="menu-list">
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Caesar with chicken</p>
              <p class="menu-content">
                Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                croutons, Caesar sauce
              </p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">230 g</p>
              <p class="menu-price">450 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Caesar with shrimp</p>
              <p class="menu-content">
                Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                croutons, caesar sauce
              </p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">230 g</p>
              <p class="menu-price">300 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Greek salad</p>
              <p class="menu-content">
                Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                lettuce, sauce
              </p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">230 g</p>
              <p class="menu-price">280 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name">Meat salad</p>
              <p class="menu-content">
                Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell
                pepper, ranch sauce
              </p>
            </div>
            <div class="menu-text">
              <p class="menu-weight">230 g</p>
              <p class="menu-price">300 UAH</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="container-menu-item menu-is-hidden">
        <h3 class="menu-item-title">Desserts</h3>
        <ul class="menu-list menu-desserts">
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name-desert-drink">Napoleon cake</p>
            </div>
            <div class="menu-text">
              <p class="menu-price">200 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name-desert-drink">Poppy cake</p>
            </div>
            <div class="menu-text">
              <p class="menu-price">300 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name-desert-drink">Tiramisu</p>
            </div>
            <div class="menu-text">
              <p class="menu-price">260 UAH</p>
            </div>
          </li>
        </ul>
        <h3 class="menu-item-title">Drinks</h3>
        <ul class="menu-list">
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name-desert-drink">Black/green tea</p>
            </div>
            <div class="menu-text">
              <p class="menu-price">100 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name-desert-drink">Espresso</p>
            </div>
            <div class="menu-text">
              <p class="menu-price">100 UAH</p>
            </div>
          </li>
          <li class="menu-item">
            <div class="menu-text">
              <p class="menu-name-desert-drink">Cappuccino</p>
            </div>
            <div class="menu-text">
              <p class="menu-price">100 UAH</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="switch-slide">
      <button type="button" class="btn-switch-pre-slide">
        <svg class="pre-slide" width="7px" height="14px">
          <use href="../../img/symbol-defs.svg#icon-Vector-1-1"></use>
        </svg>
      </button>
      <button type="button" class="btn-switch-next-slide">
        <svg class="next-slide" width="7px" height="14px">
          <use href="../../img/symbol-defs.svg#icon-Vector-2"></use>
        </svg>
      </button>
    </div>

    <button type="button" class="btn_light btn_rest_menu js-open-modal" data-modal="book-table">
      book a table
    </button>
  </div>
</section>
