p {
  padding: 0;
  margin: 0;
}

/* -----------------Website utilities-------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----------------Location & contacts-------------- */


.marker li {
  display: list-item;
  list-style: disc;
}


@media screen and (min-width: 375px) {

.amenities-section {
  background-color: #000000;
  padding: 40px 20px 64px 20px;
  padding-top: 40px;
  padding-bottom: 64px;
}
h2 {
  margin: 0;
  margin-left: -20px;
}
 img {
  width: fit-content;
  margin-left: 56px;
 }

 .amenities-images {
  position: relative;
}

 img.amenities-img-2 {
  width: 207px;
  height:  fit-content;
  position: absolute;
  top: 59%;
  left: 8%;
  transform: translate(-50%, -50%);
}

.amenities-button.btn_light {
  display: block;
  border: 0.8px solid #f7f7f7;
  border-radius: 32px;
  background-color: transparent;
  width: 175px;
  height: 34px;
  text-align: center;
  margin: 0 auto;
  margin-top: 32px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  cursor: pointer;
}

}

.amenities-general-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}

.amenities-general-list {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 40px;
  margin-left: 5px;
}

.amenities-bathroom-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}
.amenities-bathroom-list {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}

.amenities-bedroom-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}
.amenities-bedroom-list {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}

.amenities-kitchen-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}
.amenities-kitchen-list {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}

.amenities-media-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}
.amenities-media-list {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 64px;
}



@media screen and (min-width: 768px) {
  .amenities-section {
    padding-top: 80px;
    padding-bottom: 64px;
    padding: 80px 0;
  }

  h2 {
    margin: 0;
    padding-left: 0;
  }

  .list {
    padding-left: 20px;
  }

  .amenities-general-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 40px;
  }

  .amenities-general-list {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 40px;
  }


  .amenities-bathroom-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 40px;
  }
  .amenities-bathroom-list {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 40px;
  }

  .amenities-bedroom-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 40px;
  }
  .amenities-bedroom-list {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 40px;
  }

  .amenities-kitchen-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 40px;
  }
  .amenities-kitchen-list {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 40px;
  }

  .amenities-media-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 40px;
  }
  .amenities-media-list {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: #f7f7f7;
    margin-bottom: 122px;
  }

  .amenities-button {
    margin: 0;
    margin-top: 118px;
    margin-bottom: 194px;
  }

img {
  max-width: fit-content;
}

.amenities-images {
  position: relative;
}
img.amenities-img-2 {
    position: absolute;
    top: 240px;
    left: 17%;
    transform: translate(-50%, -50%);
    width: 365px;
    height: auto;
  }

  img.amenities-img-1 {
    margin-left: 296px;
    width: 408px;
  }
  .amenities-button.btn_light {
    position: absolute;
    margin: 0;
    margin-top: -150px;
    /* margin-bottom: 194px; */
  }
}



@media screen and (min-width: 1440px) {

  .amenities-images {
    position: relative;
  }

  .amenities-text {
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 100px;
  }

  .amenities-text div {
    display: inline-block;
    flex-direction: row;
    width: calc((100% - 70px) / 2);
  }

  img.amenities-img-2 {
    min-width: 439px;
    position: absolute;
    left: 55.3%;
    top: 315px;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  img.amenities-img-1 {
    display: block;
    min-width: 496px;
    margin-top: -240px;
    margin-left: 870px;
    margin-bottom: 20px;
  }

  .amenities-button.btn_light {
    margin: 0;
    margin-bottom: 235px;
    margin-top: -200px;
    margin-left: 525px;

  }
}

