:root {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;

    color: #121212;
    background-color: #D8D8D8;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;

    --dark: #121212;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    font-weight: normal;
}

.room-hero-title span {
    font-style: italic;
}

.hero-descr span {
    font-style: italic;
}

.hero-buttons {
    list-style: none;
    display: flex;
    padding: 0;
}

/* .btn_dark {
    letter-spacing: -0.02em;
    text-transform: uppercase;

    border: 0.8px solid var(--dark);
    border-radius: 32px;
    background-color: transparent;

    text-decoration: none;
    display: inline-block;
    color: var(--dark);
} */

.hero-descr {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0;
    max-width: 338px;
}

.hero-descr p {
    margin: 0;
}

@media screen and (max-width:767px) {
    .hero {
        padding-left: 20px;
    }
    
    .hero-nav {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .hotel-hero-title,
    .rest-hero-title,
    .room-hero-title {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }

    .hero-buttons {
        gap: 12px;
        margin-top: 24px;
    }

    .hero-btn {
        padding: 8px 18px;
        font-size: 14px;
        line-height: 18px;
    }
    
    .hero-descr {
        margin-top: 100px;
    }

    .item {
        width: 250px;
        height: 429px;
    }

    .hero-buttons {
        margin-bottom: 40px;
    }

    .image {
        width: 250px;
        height: 429px;
    }

    .image::after {
        content: '';
        position: absolute;

        background-image: url(/src/img/hero/hotel-hero-left-250);
    }
}

@media screen and (max-width:767px) and (min-device-pixel-ratio:2),
screen and (max-width:767px) and(min-resolution:2) {
    .image::after {
        background-image: url(/src/img/hero/hotel-hero-left-500);
    }
}

@media screen and (min-width:768px) {
    .hero {
        padding-left: 36px;
    }
    
    .hero-nav {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .hotel-hero-title,
    .rest-hero-title,
    .room-hero-title {
        font-size: 80px;
        line-height: 80px;
    }

    .hero-buttons {
        gap: 14px;
        margin-top: 32px;
        margin-bottom: 54px;
    }

    .hero-descr {
        margin-bottom: 40px;
    }

    .hero-btn {
        padding: 8px 24px;
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (min-width:1440px) {
    .hotel-hero-title,
    .rest-hero-title,
    .room-hero-title {
        font-size: 90px;
        line-height: 90px;
    }
    
    .hero-nav {
        margin-top: 204px;
        margin-bottom: 204px;
    }

    .hero {
        position: relative;
        height: 692px;
    }

    .hero-descr {
        position: absolute;
        top: -572px;
        left: 32px;
    }
}