:root {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;

    color: #121212;
    background-color: #D8D8D8;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;

    --dark: #121212;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    font-weight: normal;
}

.room-hero-title span {
    font-style: italic;
}

.hero-descr span {
    font-style: italic;
}

.hero-buttons {
    list-style: none;
    display: flex;
    padding: 0;
}

.btn_dark {
    letter-spacing: -0.02em;
    text-transform: uppercase;

    border: 0.8px solid var(--dark);
    border-radius: 32px;
    background-color: transparent;

    text-decoration: none;
    display: inline-block;
    color: var(--dark);
}

.hero-descr {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0;
    max-width: 338px;
}

.hero-descr p {
    margin: 0;
}

.owl-nav {
    position: relative;
}

.owl-next,
.owl-prev {
    position: absolute;
    
    margin: 0 !important;
    width: 36px;
    height: 36px;
    z-index: 10;
}

.owl-next {
    right: 32px;

    background: url(../img/hero-images/carousel-btn-right.svg) no-repeat center !important;
}

.owl-prev {
    right: 100px;

    background: url(../img/hero-images/carousel-btn-left.svg) no-repeat center !important;
}

.owl-prev span, .owl-next span {
    display: none;
}

.owl-stage {
    transform: translate3d(0px, 0px, 0px) !important;
}

@media screen and (max-width:767px) {
    .hero {
        padding-left: 20px;
    }
    
    .hero-nav {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .hotel-hero-title,
    .rest-hero-title,
    .room-hero-title {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }

    .hero-buttons {
        gap: 12px;
        margin-top: 24px;
    }

    .btn_dark {
        padding: 8px 18px;
        font-size: 14px;
        line-height: 18px;
    }
    .hero-descr {
        margin-top: 100px;
    }

    .item {
        width: 250px;
        height: 429px;
    }

    .hotel-hero-slider {
        height: 429px;

        position: relative;
    }

    .owl-stage-outer {
        right: -2px;
    }

    .owl-theme .owl-nav {
        margin-top: 35px !important;
    }

    .hero-buttons {
        margin-bottom: 40px;
    }

    .owl-item {
        width: 250px !important;
    }

    /* hotel slider */

    .hotel-hero-slider .item-left {
        background: url(../img/hero-images/hotel-hero-left-250.jpg) center no-repeat;
    }

    .hotel-hero-slider .item-mid {
        background: url(../img/hero-images/hotel-hero-mid-250.jpg) center no-repeat;
    }

    .hotel-hero-slider .item-right {
        background: url(../img/hero-images/hotel-hero-right-250.jpg) center no-repeat;
    }

    /* restaurant slider */

    .rest-hero-slider .item-first {
        background: url(../img/hero-images/rest-hero-1-250.jpg);
    }

    .rest-hero-slider .item-second {
        background: url(../img/hero-images/rest-hero-2-250.jpg);
    }

    .rest-hero-slider .item-third {
        background: url(../img/hero-images/rest-hero-3-250.jpg);
    }

    .rest-hero-slider .item-fourth {
        background: url(../img/hero-images/rest-hero-4-250.jpg);
    }

    .rest-hero-slider .item-fifth {
        background: url(../img/hero-images/rest-hero-5-250.jpg);
    }

    .rest-hero-slider .item-sixth {
        background: url(../img/hero-images/rest-hero-6-250.jpg);
    }

    /* room slider */

    .room-hero-slider .item-first {
        background: url(../img/hero-images/room-hero-1-250.jpg);
    }

    .room-hero-slider .item-second {
        background: url(../img/hero-images/room-hero-2-250.jpg);
    }

    .room-hero-slider .item-third {
        background: url(../img/hero-images/room-hero-3-250.jpg);
    }

    .room-hero-slider .item-fourth {
        background: url(../img/hero-images/room-hero-4-250.jpg);
    }

    .room-hero-slider .item-fifth {
        background: url(../img/hero-images/room-hero-5-250.jpg);
    }

    .room-hero-slider .item-sixth {
        background: url(../img/hero-images/room-hero-6-250.jpg);
    }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (max-width: 767px) and (min-resolution: 2) {
    
    /* hotel slider */

    .hotel-hero-slider .item-left {
        background: url(../img/hero-images/hotel-hero-left-500.jpg) center center/cover;
    }

    .hotel-hero-slider .item-mid {
        background: url(../img/hero-images/hotel-hero-mid-500.jpg) center center/cover;
    }

    .hotel-hero-slider .item-right {
        background: url(../img/hero-images/hotel-hero-right-500.jpg) center center/cover;
    }

    /* restaurant slider */

    .rest-hero-slider .item-first {
        background: url(../img/hero-images/rest-hero-1-500.jpg);
    }

    .rest-hero-slider .item-second {
        background: url(../img/hero-images/rest-hero-2-500.jpg);
    }

    .rest-hero-slider .item-third {
        background: url(../img/hero-images/rest-hero-3-500.jpg);
    }

    .rest-hero-slider .item-fourth {
        background: url(../img/hero-images/rest-hero-4-500.jpg);
    }

    .rest-hero-slider .item-fifth {
        background: url(../img/hero-images/rest-hero-5-500.jpg);
    }

    .rest-hero-slider .item-sixth {
        background: url(../img/hero-images/rest-hero-6-500.jpg);
    }

    /* room slider */

    .room-hero-slider .item-first {
        background: url(../img/hero-images/room-hero-1-500.jpg);
    }

    .room-hero-slider .item-second {
        background: url(../img/hero-images/room-hero-2-500.jpg);
    }

    .room-hero-slider .item-third {
        background: url(../img/hero-images/room-hero-3-500.jpg);
    }

    .room-hero-slider .item-fourth {
        background: url(../img/hero-images/room-hero-4-500.jpg);
    }

    .room-hero-slider .item-fifth {
        background: url(../img/hero-images/room-hero-5-500.jpg);
    }

    .room-hero-slider .item-sixth {
        background: url(../img/hero-images/room-hero-6-500.jpg);
    }
}

@media screen and (min-width:768px) {
    .hero {
        padding-left: 36px;
    }
    
    .hero-nav {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .hotel-hero-title,
    .rest-hero-title,
    .room-hero-title {
        font-size: 80px;
        line-height: 80px;
    }

    .hero-buttons {
        gap: 14px;
        margin-top: 32px;
        margin-bottom: 54px;
    }

    .hero-descr {
        margin-bottom: 40px;
    }

    .btn_dark {
        padding: 8px 24px;
        font-size: 18px;
        line-height: 24px;
    }

    .owl-theme .owl-nav {
        margin-top: 40px !important;
    }

    .owl-item {
        width: 450px !important;
    }

    .item {
        width: 436px;
        height: 548px;
    }

    .owl-stage-outer {
        height: 548px;
    }

    /* hotel slider */

    .hotel-hero-slider .item-left {
        background: url(../img/hero-images/hotel-hero-img-left.jpg) center center/cover;
    }

    .hotel-hero-slider .item-mid {
        background: url(../img/hero-images/hotel-hero-img-mid.jpg) center center/cover;
    }

    .hotel-hero-slider .item-right {
        background: url(../img/hero-images/hotel-hero-img-right.jpg) center center/cover;
    }

    /* restaurant slider */

    .rest-hero-slider .item-first {
        background: url(../img/hero-images/rest-hero-img-1.jpg);
    }

    .rest-hero-slider .item-second {
        background: url(../img/hero-images/rest-hero-img-2.jpg);
    }

    .rest-hero-slider .item-third {
        background: url(../img/hero-images/rest-hero-img-3.jpg);
    }

    .rest-hero-slider .item-fourth {
        background: url(../img/hero-images/rest-hero-img-4.jpg);
    }

    .rest-hero-slider .item-fifth {
        background: url(../img/hero-images/rest-hero-img-5.jpg);
    }

    .rest-hero-slider .item-sixth {
        background: url(../img/hero-images/rest-hero-img-6.jpg);
    }

    /* room slider */

    .room-hero-slider .item-first {
        background: url(../img/hero-images/room-hero-img-1.jpg);
    }

    .room-hero-slider .item-second {
        background: url(../img/hero-images/room-hero-img-2.jpg);
    }

    .room-hero-slider .item-third {
        background: url(../img/hero-images/room-hero-img-3.jpg);
    }

    .room-hero-slider .item-fourth {
        background: url(../img/hero-images/room-hero-img-4.jpg);
    }

    .room-hero-slider .item-fifth {
        background: url(../img/hero-images/room-hero-img-5.jpg);
    }

    .room-hero-slider .item-sixth {
        background: url(../img/hero-images/room-hero-img-6.jpg);
    }

}

@media screen and (min-width:768px) and (min-device-pixel-ratio: 2),
    screen and (min-width:768px) and (min-resolution: 2) {
        
        /* hotel slider */
        
    .hotel-hero-slider .item-left{
        background: url(../img/hero-images/hotel-hero-img-left-2x.jpg) center center/cover;
    }

    .hotel-hero-slider .item-mid {
        background: url(../img/hero-images/hotel-hero-img-mid-2x.jpg) center center/cover;
    }

    .hotel-hero-slider .item-right {
        background: url(../img/hero-images/hotel-hero-img-right-2x.jpg) center center/cover;
    }

        /* restaurant slider */

    .rest-hero-slider .item-first {
        background: url(../img/hero-images/rest-hero-img-1-2x.jpg);
    }

    .rest-hero-slider .item-second {
        background: url(../img/hero-images/rest-hero-img-2-2x.jpg);
    }

    .rest-hero-slider .item-third {
        background: url(../img/hero-images/rest-hero-img-3-2x.jpg);
    }

    .rest-hero-slider .item-fourth {
        background: url(../img/hero-images/rest-hero-img-4-2x.jpg);
    }

    .rest-hero-slider .item-fifth {
        background: url(../img/hero-images/rest-hero-img-5-2x.jpg);
    }

    .rest-hero-slider .item-sixth {
        background: url(../img/hero-images/rest-hero-img-6-2x.jpg);
    }

    /* room slider */

    .room-hero-slider .item-first {
        background: url(../img/hero-images/room-hero-img-1-2x.jpg);
    }

    .room-hero-slider .item-second {
        background: url(../img/hero-images/room-hero-img-2-2x.jpg);
    }

    .room-hero-slider .item-third {
        background: url(../img/hero-images/room-hero-img-3-2x.jpg);
    }

    .room-hero-slider .item-fourth {
        background: url(../img/hero-images/room-hero-img-4-2x.jpg);
    }

    .room-hero-slider .item-fifth {
        background: url(../img/hero-images/room-hero-img-5-2x.jpg);
    }

    .room-hero-slider .item-sixth {
        background: url(../img/hero-images/room-hero-img-6-2x.jpg);
    }
}

@media screen and (min-width:1440px) {
    .hotel-hero-title,
    .rest-hero-title,
    .room-hero-title {
        font-size: 90px;
        line-height: 90px;
    }
    
    .hero-nav {
        margin-top: 204px;
        margin-bottom: 204px;
    }

    .hero {
        position: relative;
        height: 692px;
    }

    .owl-carousel {
        position: absolute !important;
        top: -108px;

        width: 50% !important;
        left: 50%;
        height: 548px;
    }
}

.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}
.owl-carousel{display:none;width:100%;z-index:1}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden}
.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden}
.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}
.owl-carousel .owl-item img{display:block}
.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}
.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}
.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}
.owl-carousel.owl-loading{opacity:0;display:block}
.owl-carousel.owl-hidden{opacity:0}
.owl-carousel.owl-refresh .owl-item{visibility:hidden}
.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel.owl-grab{cursor:move;cursor:grab}
.owl-carousel.owl-rtl{direction:rtl}
.owl-carousel.owl-rtl .owl-item{float:right}
.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}
.owl-carousel .owl-animated-in{z-index:0}
.owl-carousel .owl-animated-out{z-index:1}
.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}
.owl-height{transition:height .5s ease-in-out}
.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}
.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}
.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}

.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}
.owl-theme .owl-nav{margin-top:10px}
.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}
.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}
.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}
.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}