    @media screen and (max-width:374px) {
      .section-main-restaurant {
        display: none;
      }      
    }
    .section-main-restaurant{
    padding-top: 32px;
    }
    
    .restaurant{
    color: rgba(18, 18, 18, 1);
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    }
    .restaurant-text{
     color:rgba(18, 18, 18, 1);
     font-weight: 500; 
     font-size: 14px;
     line-height: 1.29;
     margin-top: 32px;
     text-transform: uppercase;
    }
    .restaurant-pictures{
    margin-top: 32px;
    }
    
    .multiple-items-two{
    display: flex;
    margin-top: 20px;
        }

    .multiple-res:not(:last-child){
    margin-right: 25px;
    }
    .multiple-res{
    object-fit:cover;
    width: 250px;
    height: 250px;    
    }
    
    .multiple-img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        max-width: 300px;  
        max-height: 300px;
    }
    .multiple-items{
        display: none;
      }
    .restaurant-button-desk{
        display: none;
    }
    .restaurant-button{
    display: flex;
    justify-content: center;
    margin: 0 auto;  
    margin-top: 32px;
    }
    
    .book-a-table-btn {
    margin-right: 15px ;
    }
/*/--------------------------------------------/*/
    
    @media screen and (min-width: 768px) { 
    .section-main-hotel{
    padding-top: 44px;
    padding-bottom: 32px;
    }
    /*.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    }*/
    .restaurant-item{
    display: flex;
    justify-content: start;
    padding-top: 7px;
    margin-bottom: 80px;
    }
    .restaurant, .restaurant-text {
        text-align: start;
        margin: auto; 
        margin-right: 32px;

        }
    .restaurant {
    font-weight: 500px;
    font-size: 68px;
    line-height: 1;
    }   
    .restaurant-button{
      display: flex;
      justify-content: center;
      margin: 0 auto;  
      margin-top: 80px;  
      }
      .multiple-items{
        display: none;
      }
      .multiple-res:not(:last-child){
        margin-right: 30px;
        }
        .multiple-res{
        object-fit:cover;
        width: 336px;
        height: 339px;    
        }
        
        .multiple-img{
            width: 100%;
            height: 100%;
            object-fit:cover;
            max-width: 350px;  
            max-height: 340px;
        }
      .restaurant-button-desk{
      display: none;
      }

      .book-a-room-btn {
      margin-right: 15px ;
    }
    }


/*------------------------------------------*/

    @media screen and (min-width: 1440px) {    
    .section-main-restaurant{
      padding-top: 44px;
      padding-bottom: 32px;
    }
.restaurant-desk{
display: flex;
align-items: center; 
justify-content: space-between; 
margin-bottom: 132px;
} 
.restaurant-item{
display: flex;
align-items: start; 
justify-content: space-between;
margin-bottom: 0;
}

.restaurant-button{
display: none;
}

    .restaurant-button-desk{
    display: flex;     
    justify-content: end; 
    gap: 14px;    
    }
    .multiple-items-two{
        display: none;
    }
    .multiple-items{
    display: block;
    margin-bottom: 200px;
    
      }
    .restaurant-item {
    max-width: 700px;
    }
    }