.main-welcome {
    padding-top: 64px;
    padding-bottom: 64px;
}

.welcome-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.13;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.welcome-description-first {
    font-size: 14px;
    line-height: 1.27;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 32px;
    width: 285px;
}

.welcome-description-second {
    font-size: 14px;
    line-height: 1.27;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 32px;
    width: 265px;
}

.img-wlm{
    width: 335px;
    height: 432px;
}

.italic-font {
    font-style: italic;
}

@media screen and (min-width: 375px) {
    .welcome-description-first {
    width: 306px;
    }

    .welcome-description-second {
        width: 340px;
    }
}

@media screen and (min-width: 768px) {
    .main-welcome {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .img-wlm{
        width: 704px;
        height: 599px;
    }
    .welcome-description-flex {
        display: flex;
        gap: 32px;
        margin-bottom: 40px;
    }
    .welcome-description-first {
        width: 308px;
    }
    .welcome-description-second {
        width: 366px;
    }

    .welcome-title {
        width: 405px;
    }
}

@media screen and (min-width: 1440px) {
    .main-welcome {
        padding-top: 126px;
        padding-bottom: 100px;
    }
    .wrapper-text-welcome {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .columns-welcome-section {
        display: flex;
        flex-direction: row-reverse;
        gap: 32px;
        justify-content: flex-end;
    }
    .description-flex {
        flex-direction: column;
        gap: 0;
    }
    .welcome-description-first {
        margin-bottom: 24px;
    }

    .welcome-description-second {
        margin-bottom: 0;
    }

    .welcome-description-first,
    .welcome-description-second {
        width: 437px;
    }
    .img-wlm{
        width:  672px;
        height:  599px;
    }
}