.section {
    overflow-x: hidden;
}

.room-hero-title span {
    font-style: italic;
}

.hero-descr span {
    font-style: italic;
}

.hero-buttons {
    list-style: none;
    display: flex;
    padding: 0;
}

.hero-descr {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0;
    max-width: 338px;
}

.hero-descr p {
    margin: 0;
}

@media screen and (max-width:767px) {
    .hero {
        padding-left: 20px;
    }

    .hero-nav {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .hotel-hero-title,
    .rest-hero-title,
    .room-hero-title {
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }

    .hero-buttons {
        gap: 12px;
        margin-top: 24px;
    }

    .hero-btn {
        padding: 8px 18px;
        font-size: 14px;
        line-height: 18px;
    }

    .hero-descr {
        margin-top: 40px;
        margin-bottom: 64px;
    }

    .item {
        width: 250px;
        height: 429px;
    }

    .hero-buttons {
        margin-bottom: 40px;
    }

    .room-images,
    .rest-images,
    .hotel-images {
        display: flex;
        position: relative;

        height: 429px;
        width: 100%;
    }

    .room-image-one {
        position: absolute;

        width: 250px;
        height: 429px;

        background: url(../../../img/hero/room-hero-1-250.jpg) center center/cover;
    }

    .room-image-two {
        position: absolute;
        left: 270px;

        width: 250px;
        height: 429px;

        background: url(../../../img/hero/room-hero-2-250.jpg) center center/cover;
    }

    .room-image-three {
        position: absolute;
        left: 540px;

        width: 250px;
        height: 429px;

        background: url(../../../img/hero/room-hero-3-250.jpg) center center/cover;
    }

    .rest-image-one {
        position: absolute;

        width: 250px;
        height: 429px;

        background: url(../../../img/hero/rest-hero-1-250.jpg) center center/cover;
    }

    .rest-image-two {
        position: absolute;
        left: 270px;

        width: 250px;
        height: 429px;

        background: url(../../../img/hero/rest-hero-2-250.jpg) center center/cover;
    }

    .rest-image-three {
        position: absolute;
        left: 540px;

        width: 250px;
        height: 429px;

        background: url(../../../img/hero/rest-hero-3-250.jpg) center center/cover;
    }

    .hotel-image-one {
        position: absolute;

        width: 250px;
        height: 429px;

        background: url(../../../img/hero/hotel-hero-left-250.jpg) center center/cover;
    }

    .hotel-image-two {
        position: absolute;
        left: 270px;

        width: 250px;
        height: 429px;

        background: url(../../../img/hero/hotel-hero-mid-250.jpg) center center/cover;
    }

    .hotel-image-three {
        position: absolute;
        left: 540px;

        width: 250px;
        height: 429px;

        background: url(../../../img/hero/hotel-hero-right-250.jpg) center center/cover;
    }

    .images-buttons {
        display: flex;
        gap: 32px;
        justify-content: flex-end;

        margin-top: 32px;
        margin-right: 20px;
    }
}

@media screen and (max-width:767px) and (min-device-pixel-ratio:2),
screen and (max-width:767px) and(min-resolution:2) {
    .room-image-one {
        background-image: url(../../../img/hero/room-hero-1-500.jpg);
    }

    .room-image-two {
        background-image: url(../../../img/hero/room-hero-2-500.jpg);
    }

    .room-image-three {
        background-image: url(../../../img/hero/room-hero-3-500.jpg);
    }

    .rest-image-one {
        background: url(../../../img/hero/rest-hero-1-500.jpg) center center/cover;
    }

    .rest-image-two {
        background: url(../../../img/hero/rest-hero-2-500.jpg) center center/cover;
    }

    .rest-image-three {
        background: url(../../../img/hero/rest-hero-3-500.jpg) center center/cover;
    }

    .hotel-image-one {
        background: url(../../../img/hero/hotel-hero-left-500.jpg) center center/cover;
    }

    .hotel-image-two {
        background: url(../../../img/hero/hotel-hero-mid-500.jpg) center center/cover;
    }

    .hotel-image-three {
        background: url(../../../img/hero/hotel-hero-right-500.jpg) center center/cover;
    }
}

@media screen and (min-width:768px) {
    .hero {
        /* padding-left: 36px; */
    }

    .hero-nav {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .hotel-hero-title,
    .rest-hero-title,
    .room-hero-title {
        font-size: 80px;
        line-height: 80px;
        font-weight: 400;
    }

    .hero-buttons {
        gap: 14px;
        margin-top: 32px;
        margin-bottom: 54px;
    }

    .hero-descr {
        margin-bottom: 40px;
        margin-top: -40px;
    }

    .hero-btn {
        padding: 8px 24px;
        font-size: 18px;
        line-height: 24px;
    }

    .room-images,
    .rest-images,
    .hotel-images {
        display: flex;
        position: relative;

        height: 548px;
        width: 100%;
    }

    .room-image-one {
        position: absolute;

        width: 436px;
        height: 548px;

        background: url(../../../img/hero/room-hero-img-1.jpg) center center/cover;
    }

    .room-image-two {
        position: absolute;
        left: 476px;

        width: 436px;
        height: 548px;

        background: url(../../../img/hero/room-hero-img-2.jpg) center center/cover;
    }

    .room-image-three {
        position: absolute;
        left: 948px;

        width: 436px;
        height: 548px;

        background: url(../../../img/hero/room-hero-img-3.jpg) center center/cover;
    }

    .rest-image-one {
        position: absolute;

        width: 436px;
        height: 548px;

        background: url(../../../img/hero/rest-hero-img-1.jpg) center center/cover;
    }

    .rest-image-two {
        position: absolute;
        left: 476px;

        width: 436px;
        height: 548px;

        background: url(../../../img/hero/rest-hero-img-2.jpg) center center/cover;
    }

    .rest-image-three {
        position: absolute;
        left: 948px;

        width: 436px;
        height: 548px;

        background: url(../../../img/hero/rest-hero-img-3.jpg) center center/cover;
    }

    .hotel-image-one {
        position: absolute;

        width: 436px;
        height: 548px;

        background: url(../../../img/hero/hotel-hero-img-left.jpg) center center/cover;
    }

    .hotel-image-two {
        position: absolute;
        left: 476px;

        width: 436px;
        height: 548px;

        background: url(../../../img/hero/hotel-hero-img-mid.jpg) center center/cover;
    }

    .hotel-image-three {
        position: absolute;
        left: 948px;

        width: 436px;
        height: 548px;

        background: url(../../../img/hero/hotel-hero-img-right.jpg) center center/cover;
    }

    @media screen and (max-width:1399px){
        .hero-images {
        position: relative;
        height: 624px;
    }
    }
    

    .images-buttons {
        position: absolute;
        right: 32px;
        bottom: 0px;

        display: flex;
        gap: 32px;
        justify-content: flex-end;

    }
}

@media screen and (min-width:768px) and (min-device-pixel-ratio:2),
screen and (min-width:768px) and (min-resolution:2) {
    .room-image-one {
        background: url(../../../img/hero/room-hero-img-1-2x.jpg) center center/cover;
    }

    .room-image-two {
        background: url(../../../img/hero/room-hero-img-2-2x.jpg) center center/cover;
    }

    .room-image-three {
        background: url(../../../img/hero/room-hero-img-3-2x.jpg) center center/cover;
    }

    .rest-image-one {
        background: url(../../../img/hero/rest-hero-img-1-2x.jpg) center center/cover;
    }

    .rest-image-two {
        background: url(../../../img/hero/rest-hero-img-2-2x.jpg) center center/cover;
    }

    .rest-image-three {
        background: url(../../../img/hero/rest-hero-img-3-2x.jpg) center center/cover;
    }

    .hotel-image-one {
        background: url(../../../img/hero/hotel-hero-img-left-2x.jpg) center center/cover;
    }

    .hotel-image-two {
        background: url(../../../img/hero/hotel-hero-img-mid-2x.jpg) center center/cover;
    }

    .hotel-image-three {
        background: url(../../../img/hero/hotel-hero-img-right-2x.jpg) center center/cover;
    }
}

@media screen and (min-width:1440px) {

    .hero-container {
        position: relative;
    }

    .hotel-hero-title,
    .rest-hero-title,
    .room-hero-title {
        font-size: 90px;
        font-weight: 400;
        line-height: 90px;
    }

    .hero-nav {
        margin-top: 169px;
        margin-bottom: 204px;
    }

    .hero {
        height: 692px;
    }

    .hero-descr {
        position: absolute;
        top: 572px;
        /* left: 32px;
        bottom: 15px; */
    }

    .descr {
        /* top: 572px; */
    }

    .room-images {
        width: 50%;
        left: 50%;
        margin-top: -630px;
        padding-top: 32px;
    }

    .rest-images {
        width: 50%;
        left: 50%;
        margin-top: -530px;
        padding-top: 32px;
    }

    .hotel-images {
        width: 50%;
        left: 50%;
        margin-top: -530px;
        padding-top: 32px;
    }

    .images-buttons {
        bottom: -90px;
    }
}