

<!---------- Amenities & Facilities ----------->

<section class="amenities-section">
  <div class="container">
    <div class="amenities-text">
      <h2 class="amenities-title visually-hidden">Amenities</h2>
      <div class="general-wrap">
        <h2 class="amenities-general-title">GENERAL AMENITIES & FACILITIES:</h2>
        <ul class="amenities-general-list list marker">
          <li class="amenities-general-item">24-HOUR FRONT DESK SERVICE</li>
          <li class="amenities-general-item">DAILY HOUSEKEEPING</li>
          <li class="amenities-general-item">
            FREE WI-FI THROUGHOUT THE HOTEL
          </li>
          <li class="amenities-general-item">ELEVATOR ACCESS</li>
          <li class="amenities-general-item">LUGGAGE STORAGE</li>
          <li class="amenities-general-item">NON-SMOKING ROOMS AVAILABLE</li>
          <li class="amenities-general-item">
            MEETING ROOMS FOR BUSINESS AND EVENTS
          </li>
          <li class="amenities-general-item">ON-SITE PARKING (SURCHARGE)</li>
          <li class="amenities-general-item">CONCIERGE SERVICES</li>
        </ul>
      </div>
      <div class="bathroom-wrap">
        <h2 class="amenities-bathroom-title">BATHROOM:</h2>
        <ul class="amenities-bathroom-list list marker">
          <li class="amenities-bathroom-item">PRIVATE BATHROOM WITH SHOWER</li>
          <li class="amenities-bathroom-item">COMPLIMENTARY TOILETRIES</li>
          <li class="amenities-bathroom-item">HAIR DRYER</li>
          <li class="amenities-bathroom-item">FRESH TOWELS DAILY</li>
          <li class="amenities-bathroom-item">
            DELUXE BATHROBES (IN SOME ROOM CATEGORIES)
          </li>
        </ul>
      </div>
      <div class="bedroom-wrap">
        <h2 class="amenities-bedroom-title">BEDROOM:</h2>
        <ul class="amenities-bedroom-list list marker">
          <li class="amenities-bedroom-item">
            COMFORTABLE BEDS WITH HIGH-QUALITY LINENS
          </li>
          <li class="amenities-bedroom-item">BLACKOUT CURTAINS</li>
          <li class="amenities-bedroom-item">
            CLIMATE CONTROL (AIR CONDITIONING AND HEATING)
          </li>
          <li class="amenities-bedroom-item">SAFE FOR VALUABLES</li>
          <li class="amenities-bedroom-item">WRITING DESK AND CHAIR</li>
          <li class="amenities-bedroom-item">
            FLAT-SCREEN TV WITH CABLE CHANNELS
          </li>
        </ul>
      </div>
      <div class="kitchen-wrap">
        <h2 class="amenities-kitchen-title">KITCHEN:</h2>
        <ul class="amenities-kitchen-list list marker">
          <li class="amenities-kitchen-item">
            IN-ROOM KITCHENETTE (IN SOME ROOM CATEGORIES)
          </li>
          <li class="amenities-kitchen-item">REFRIGERATOR</li>
          <li class="amenities-kitchen-item">MICROWAVE</li>
          <li class="amenities-kitchen-item">ELECTRIC KETTLE</li>
          <li class="amenities-kitchen-item">COOKING UTENSILS AND CUTLERY</li>
          <li class="amenities-kitchen-item">DINING TABLE AND CHAIRS</li>
        </ul>
      </div>
      <div class="media-wrap">
        <h2 class="amenities-media-title">MEDIA:</h2>
        <ul class="amenities-media-list list marker">
          <li class="amenities-media-item">
            FLAT-SCREEN TV WITH CABLE CHANNELS
          </li>
          <li class="amenities-media-item">HIGH-SPEED WI-FI</li>
          <li class="amenities-media-item">IPOD DOCKING STATION</li>
          <li class="amenities-media-item">SPEAKER SYSTEM</li>
          <li class="amenities-media-item">
            ELECTRICAL OUTLETS FOR CHARGING DEVICES.
          </li>
        </ul>
      </div>
    </div>
    <div class="amenities-images">

    <picture class="amenities-img-1p">

      <source
        media="(min-width: 1440px)"
        srcset="./img/amenities/img-desk-1-x1.jpg 1x, ./img/amenities/img-desk-1-x2.jpg 2x,"
      />
      <source
        media="(min-width: 768px)"
        srcset="./img/amenities/img-tablet-1-x1.jpg 1x, ./img/amenities/img-tablet-1-x2.jpg 2x,"
      />
      
      <img
        src="./img/amenities/img-mobile-2-x1.jpg"
        alt="img-shelf"
        srcset="./img/amenities/img-mobile-1-x1.jpg 1x, ./img/amenities/img-mobile-1-x2.jpg 2x"
        class="amenities-img-1"
      />
    </picture>


    <picture class="amenities-img-2p">
      <source
        media="(min-width: 375px)"
        srcset="./img/amenities/img-tablet-2-x1.jpg 1x, ./img/amenities/img-tablet-2-x2.jpg 2x,"
      />
      <source
        media="(min-width: 1200px)"
        srcset="./img/amenities/img-desk-2-x1.jpg 1x, ./img/amenities/img-desk-2-x2.jpg 2x,"
      />
      <img
        src="./img/amenities/img-mobile-2-x1.jpg"
        alt="img-shelf"
        srcset="./img/amenities/img-mobile-2-x1.jpg 1x, ./img/amenities/img-mobile-2-x2.jpg 2x"
        class="amenities-img-2"
      />
    </picture>

    </div>
    <button class="amenities-button btn_light">BOOK A ROOM</button>
  </div>
</section>