<section class="hero section">
  <div class="hero-container container">
    <div class="hero-nav">
      <h1 class="room-hero-title">DOUBLE<br /><span>LUXURY</span> ROOM</h1>
      <ul class="hero-buttons">
        <li>
          <li><button type="button" class="btn_dark js-open-modal" data-modal="price-room">VIEW PRICES</button></li>
        </li>
      </ul>
    </div>
    <div class="hero-images">
      <div class="room-images">
        <div class="room-image-one"></div>
        <div class="room-image-two"></div>
        <div class="room-image-three"></div>
      </div>
      <ul class="images-buttons">
        <li><img src="./img/hero/btn-prev.svg" /></li>
        <li><img src="./img/hero/btn-next.svg" /></li>
      </ul>
    </div>
    <div class="hero-descr">
      <p>
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
    </div>
  </div>
</section>
