<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="hero section">
        <div>
            <h1 class="room-hero-title">DOUBLE<span>LUXURY</span>ROOM</h1>
            <ul class="hero-buttons">
            <li><button type="button" class="view-prices-btn">VIEW PRICES</button></li>
            </ul>
        </div>
        <div class="hero-slider">
            <img srcset="./img/hero-images/room-hero-img-1.jpg 1x, 
            ./img/hero-images/room-hero-img-1-2x.jpg"
            src="./img/hero-images/room-hero-img-1.jpg">
            <img srcset="./img/hero-images/room-hero-img-2.jpg 1x, 
            ./img/hero-images/room-hero-img-2-2x.jpg"
            src="./img/hero-images/room-hero-img-2.jpg">
            <img srcset="./img/hero-images/room-hero-img-3.jpg 1x, 
            ./img/hero-images/room-hero-img-3-2x.jpg"
            src="./img/hero-images/room-hero-img-3.jpg">
            <img srcset="./img/hero-images/room-hero-img-4.jpg 1x, 
            ./img/hero-images/room-hero-img-4-2x.jpg"
            src="./img/hero-images/room-hero-img-4.jpg">
            <img srcset="./img/hero-images/room-hero-img-5.jpg 1x, 
            ./img/hero-images/room-hero-img-5-2x.jpg"
            src="./img/hero-images/room-hero-img-5.jpg">
            <img srcset="./img/hero-images/room-hero-img-6.jpg 1x, 
            ./img/hero-images/room-hero-img-6-2x.jpg"
            src="./img/hero-images/room-hero-img-6.jpg">
        </div>
        <div class="hero-descr">
            <p>The Mimino hotel features spacious and stylish double luxury 
            rooms with modern amenities for a comfortable stay.
            </p>
        </div>
        </section>
</body>
</html>
