<section class="double-room">
    <div class="container">
        <div class="double-room-pic-container">
            <div class="double-room-pic-wrap">
                <picture class="double-room-pic">
                    <source media="(min-width: 1440px)" srcset="
                    ./img/hotel/double-room/double-room-desk-img1.jpg    1x,
                    ./img/hotel/double-room/double-room-desk-img1-2x.jpg 2x
                  " />
                    <source media="(min-width: 768px)" srcset="
                    ./img/hotel/double-room/double-room-tab-img1.jpg    1x,
                    ./img/hotel/double-room/double-room-tab-img1-2x.jpg 2x
                  " />
                    <source media="(max-width: 767px)" srcset="
                    ./img/hotel/double-room/double-room-mob-img1.jpg    1x,
                    ./img/hotel/double-room/double-room-mob-img1-2x.jpg 2x
                  " />
                    <img src="./img/hotel/double-room/double-room-desk-img1.jpg" alt="double room photo" />
                </picture>
            </div>
            <div class="double-room-small-pic-wrap">
                <picture class="double-room-small-pic1">
                    <source media="(min-width: 1440px)" srcset="
                    ./img/hotel/double-room/double-room-desk-img2.jpg    1x,
                    ./img/hotel/double-room/double-room-desk-img2-2x.jpg 2x
                  " />
                    <source media="(min-width: 768px)" srcset="
                    ./img/hotel/double-room/double-room-tab-img2.jpg    1x,
                    ./img/hotel/double-room/double-room-tab-img2-2x.jpg 2x
                  " />
                    <source media="(max-width: 767px)" srcset="
                    ./img/hotel/double-room/double-room-mob-img2.jpg    1x,
                    ./img/hotel/double-room/double-room-mob-img2-2x.jpg 2x
                  " />
                    <img src="./img/hotel/double-room/double-room-desk-img2.jpg" alt="double room photo" />
                </picture>
                <picture class="double-room-small-pic2">
                    <source media="(min-width: 1440px)" srcset="
                    ./img/hotel/double-room/double-room-desk-img3.jpg    1x,
                    ./img/hotel/double-room/double-room-desk-img3-2x.jpg 2x
                  " />
                    <source media="(min-width: 768px)" srcset="
                    ./img/hotel/double-room/double-room-tab-img3.jpg    1x,
                    ./img/hotel/double-room/double-room-tab-img3-2x.jpg 2x
                  " />
                    <source media="(max-width: 767px)" srcset="
                    ./img/hotel/double-room/double-room-mob-img3.jpg    1x,
                    ./img/hotel/double-room/double-room-mob-img3-2x.jpg 2x
                  " />
                    <img src="./img/hotel/double-room/double-room-desk-img3.jpg" alt="double room photo" />
                </picture>
            </div>
        </div>
        <div class="double-room-wrap">
        <h2 class="double-room-title">DOUBLE LUXURY ROOM</h2>
        <div class="double-room-content-wrap">
            <div class="double-room-text-wrap">
                <p class="double-room-text1">
                    Experience luxury in our Double Luxury Room at Mimino Hotel.
                    This spacious room features a comfortable bed, private bathroom,
                    flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
                    curtains, and soundproofing ensure a peaceful night's sleep.
                </p>
                <p class="double-room-text2">
                    Relax after a busy day at the writing desk or armchair. Book now
                    for a convenient and comfortable stay.
                </p>
            </div>
            <div class="double-room-btns">
                <button class="btn_dark" onclick="window.location.href = './room.html';">
                    More details
                </button>
                <button class="js-open-modal btn_dark" data-modal="price-room">
                    View prices
                </button>
            </div>
            </div>
        </div>
    </div>
</section>