<section class="four-seater-room">
  <div class="container">
    <div class="four-seater-room-pic-container">
      <div class="four-seater-room-pic-wrap">
        <picture class="four-seater-room-pic">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../../img/hotel/four-seater-room/four-seater-room-desk-img1.jpg    1x,
              ../../img/hotel/four-seater-room/four-seater-room-desk-img1-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../../img/hotel/four-seater-room/four-seater-room-tab-img1.jpg    1x,
              ../../img/hotel/four-seater-room/four-seater-room-tab-img1-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../../img/hotel/four-seater-room/four-seater-room-mob-img1.jpg    1x,
              ../../img/hotel/four-seater-room/four-seater-room-mob-img1-2x.jpg 2x
            "
          />
          <img
            src="../../img/hotel/four-seater-room/four-seater-room-desk-img1.jpg"
            alt="four-seater room photo"
          />
        </picture>
      </div>
      <div class="four-seater-room-small-pic-wrap">
        <picture class="four-seater-room-small-pic1">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../../img/hotel/four-seater-room/four-seater-room-desk-img2.jpg    1x,
              ../../img/hotel/four-seater-room/four-seater-room-desk-img2-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../../img/hotel/four-seater-room/four-seater-room-tab-img2.jpg    1x,
              ../../img/hotel/four-seater-room/four-seater-room-tab-img2-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../../img/hotel/four-seater-room/four-seater-room-mob-img2.jpg     1x,
              .../../img/hotel/four-seater-room/four-seater-room-mob-img2-2x.jpg 2x
            "
          />
          <img
            src="../../img/hotel/four-seater-room/four-seater-room-desk-img2.jpg"
            alt="four-seater room photo"
          />
        </picture>
        <picture class="four-seater-room-small-pic2">
          <source
            media="(min-width: 1440px)"
            srcset="
              ../../img/hotel/four-seater-room/four-seater-room-desk-img3.jpg    1x,
              ../../img/hotel/four-seater-room/four-seater-room-desk-img3-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../../img/hotel/four-seater-room/four-seater-room-tab-img3.jpg    1x,
              ../../img/hotel/four-seater-room/four-seater-room-tab-img3-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../../img/hotel/four-seater-room/four-seater-room-mob-img3.jpg    1x,
              ../../img/hotel/four-seater-room/four-seater-room-mob-img3-2x.jpg 2x
            "
          />
          <img
            src="../../img/hotel/four-seater-room/four-seater-room-desk-img3.jpg"
            alt="four-seater room photo"
          />
        </picture>
      </div>
    </div>
    <div class="four-seater-wrap">
      <h2 class="four-seater-room-title">FOUR-SEATER ROOM</h2>
      <div class="four-seater-room-content-wrap">
        <div class="four-seater-room-text-wrap">
          <p class="four-seater-room-text">
            Our 4-person room is perfect for small groups, offering comfort and
            convenience with 4 comfortable beds, ample storage, flat-screen TV,
            mini-fridge, coffee maker, desk and chair, air-conditioning,
            heating, and soundproof walls. Book now for a memorable stay.
          </p>
        </div>
        <div class="four-seater-room-btns">
          <section class="triple-room">
            <div class="container">
              <div class="triple-room-pic-container">
                <div class="triple-room-pic-wrap">
                  <picture class="triple-room-pic">
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                        ../../img/hotel/triple-room/triple-room-desk-img1.jpg    1x,
                        ../../img/hotel/triple-room/triple-room-desk-img1-2x.jpg 2x
                      "
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ../../img/hotel/triple-room/triple-room-tab-img1.jpg    1x,
                        ../../img/hotel/triple-room/triple-room-tab-img1-2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        ../../img/hotel/triple-room/triple-room-mob-img1.jpg    1x,
                        ../../img/hotel/triple-room/triple-room-mob-img1-2x.jpg 2x
                      "
                    />
                    <img
                      src="../../img/hotel/triple-room/triple-room-desk-img1.jpg"
                      alt="triple room photo"
                    />
                  </picture>
                </div>
                <div class="triple-room-small-pic-wrap">
                  <picture class="triple-room-small-pic1">
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                        ../../img/hotel/triple-room/triple-room-desk-img2.jpg    1x,
                        ../../img/hotel/triple-room/triple-room-desk-img2-2x.jpg 2x
                      "
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ../../img/hotel/triple-room/triple-room-tab-img2.jpg    1x,
                        ../../img/hotel/triple-room/triple-room-tab-img2-2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        ../../img/hotel/triple-room/triple-room-mob-img2.jpg    1x,
                        ../../img/hotel/triple-room/triple-room-mob-img2-2x.jpg 2x
                      "
                    />
                    <img
                      src="../../img/hotel/triple-room/triple-room-desk-img2.jpg"
                      alt="triple room photo"
                    />
                  </picture>
                  <picture class="triple-room-small-pic2">
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                        ../../img/hotel/triple-room/triple-room-desk-img3.jpg    1x,
                        ../../img/hotel/triple-room/triple-room-desk-img3-2x.jpg 2x
                      "
                    />
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        ../../img/hotel/triple-room/triple-room-tab-img3.jpg    1x,
                        ../../img/hotel/triple-room/triple-room-tab-img3-2x.jpg 2x
                      "
                    />
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        ../../img/hotel/triple-room/triple-room-mob-img3.jpg    1x,
                        ../../img/hotel/triple-room/triple-room-mob-img3-2x.jpg 2x
                      "
                    />
                    <img
                      src="../../img/hotel/triple-room/triple-room-desk-img3.jpg"
                      alt="triple room photo"
                    />
                  </picture>
                </div>
              </div>
              <div class="triple-room-wrap">
                <div class="triple-room-content-wrap">
                  <h2 class="triple-room-title">TRIPLE ROOM</h2>
                  <div class="triple-room-text-wrap">
                    <p class="triple-room-text1">
                      Escape to our spacious Triple Room, perfect for families
                      or groups. Enjoy comfort with three beds, seating area,
                      stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.
                    </p>
                    <p class="triple-room-text2">
                      Rejuvenate in the en-suite bathroom with plush towels and
                      toiletries. Book now for a memorable stay.
                    </p>
                  </div>
                </div>
                <div class="triple-room-btns">
                  <a href="./room.html" class="btn_dark"> More details </a>
                  <button
                    class="js-open-modal btn_dark"
                    type="button"
                    data-modal="prices_per_room"
                  >
                    View prices
                  </button>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
