<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hero</title>
    <link rel="stylesheet" href="./css/hero.css"/>
  </head>
  <body>
    <section class="hero hotel-hero">
      <div class="hero-nav">
        <h1 class="hotel-hero-title">HOTEL</h1>
        <ul class="hero-buttons">
          <li><button type="button" class="btn_dark">BOOK A ROOM</button></li>
          <li><button type="button" class="btn_dark">VIEW PRICES</button></li>
        </ul>
      </div>

      <div class="hotel-hero-img">
        <div class="image"></div>
        <div class="arrows">
          <img src="" alt="arrow">
          <img src="" alt="arrow">
        </div>
      </div>

      <div class="hero-descr">
        <p>Whether you're in the mood for a hearty breakfast,
           a light lunch, or a <span>romantic dinner</span>, 
           our menu has something for everyone.
        </p>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./owl.carousel.min.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
