<section class="hero section">
    <div>
      <h1 class="hotel-hero-title">HOTEL</h1>
      <ul class="hero-buttons">
        <li><button type="button" class="book-a-room-btn">BOOK A ROOM</button></li>
        <li><button type="button" class="view-prices-btn">VIEW PRICES</button></li>
      </ul>
    </div>
    <div class="hero-slider">
      <img srcset="./img/hero-images/hotel-hero-img-left.jpg 1x, 
      src="./img/hero-images/hotel-hero-img-left.jpg" alt="hotel">
      <img srcset="./img/hero-images/hotel-hero-img-mid.jpg 1x,
      ./img/hero-images/hotel-hero-img-mid-2x.jpg 2x"
      src="./img/hero-images/hotel-hero-img-mid.jpg" alt="hotel">
      <img srcset="./img/hero-images/hotel-hero-img-right.jpg 1x, 
      ./img/hero-images/hotel-hero-img-right-2x.jpg 2x"
      src="./img/hero-images/hotel-hero-img-right.jpg" alt="">
    </div>
    <div class="hero-descr">
      <p>Whether you're in the mood for a hearty breakfast,
         a light lunch, or a romantic dinner, 
         our menu has something for everyone.
      </p>
    </div>
  </section>