<section class=".conteiner">
    <h3 class="hotel">Hotel</h3>
    <p class="hotel-text">Book your stay with us now and
    experience the epitome of comfort and luxury at our hotel. 
    We guarantee you'll be thrilled with your decision.</p>
    <div class="hotel-img">
    <img
    src=""
    alt="Macbook Air на сірому дерев'яному столі"
    width="400" 
    height=""
    />

    </div>
    <div class="hotel-button">
        <button class=""></button>
        <button class=""></button>
    </div>
    
</section>


