<footer class="footer-section">
  <div class="container">
    <div class="footer-container">
      <nav class="footer-nav-container">
        <ul class="list footer-nav-item-list">
          <li class="footer-nav-item">
            <a
              href="./index.html"
              target="_self"
              rel="noreferrer noopener"
              class="link footer-nav-link"
              >Home</a
            >
          </li>
          <li class="footer-nav-item">
            <a
              href="./hotel.html"
              target="_self"
              rel="noreferrer noopener"
              class="link footer-nav-link"
              >Hotel</a
            >
          </li>
          <li class="footer-nav-item">
            <a
              href="./restaurant.html"
              target="_self"
              rel="noreferrer noopener"
              class="link footer-nav-link"
              >Restaurant</a
            >
          </li>
        </ul>
      </nav>
      <a href="./index.html" class="footer-logo-box">
        <span class="footer-logo">MIMINO</span>
        <span class="footer-logo-text">restaurant-hotel complex</span>
      </a>
      <div class="footter-soc-wrap">
        <ul class="footer-soc-list list">
          <li class="footer-soc-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-soc-link link"
            >
              <svg id="footer-soc-icon-id-1" class="footer-soc-icon">
                <use href="./img/icons.svg#icon-instagram-1"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-soc-link link"
            >
              <svg id="footer-soc-icon-id-2" class="footer-soc-icon">
                <use href="./img/icons.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://twitter.com/"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-soc-link link"
            >
              <svg id="footer-soc-icon-id-3" class="footer-soc-icon">
                <use href="./img/icons.svg#icon-twitter-1"></use></svg></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-border-thumb"></div>
</footer>
