/* ---------- MOBILE ---------- */

.triple-room {
  padding-bottom: 64px;
}

.triple-room-pic-wrap {
  margin-bottom: 20px;
}

.triple-room-small-pic-wrap {
  display: flex;
  gap: 19px;
  margin-bottom: 32px;
}

.triple-room-title {
  max-width: 246px;
  font-size: 32px;
  line-height: 1.25;
  margin-bottom: 32px;
}

.triple-room-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.triple-room-btns {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 375px;
  }
}

/* ---------- TABLET ---------- */

@media screen and (min-width: 768px) {
  .triple-room {
    padding-bottom: 80px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .triple-room-pic-wrap {
    margin-bottom: 0;
  }

  .triple-room-pic-container {
    display: flex;
    gap: 32px;
    margin-bottom: 40px;
  }

  .triple-room-small-pic-wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 32px;
    margin-bottom: 0;
  }

  .triple-room-title {
    max-width: fit-content;
    font-size: 40px;
    line-height: 1.1;
  }

  .triple-room-text-wrap {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.33;
  }

  .triple-room-text1 {
    max-width: 369px;
  }

  .triple-room-btns {
    justify-content: flex-start;
    gap: 14px;
  }
}

/* ---------- DESKTOP ---------- */

@media screen and (min-width: 1440px) {
  .triple-room {
    padding-bottom: 100px;
  }

  .container {
    max-width: 1440px;
  }

  .triple-room-pic-container {
    flex-direction: row;
    max-height: fit-content;
    width: 1376px;
  }

  .triple-room-pic-wrap {
    margin: auto;
  }

  .triple-room-small-pic-wrap {
    position: absolute;
    width: 1376px;
    flex-direction: row;
    justify-content: space-between;
  }

  .triple-room-small-pic1 {
    margin-top: 151px;
    order: 2;
  }

  .triple-room-small-pic2 {
    margin-top: 196px;
    order: -2;
  }

  .triple-room-wrap {
    position: relative;
  }

  .triple-room-content-wrap {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: auto;
    width: fit-content;
  }

  .triple-room-text-wrap {
    margin-bottom: 0;
  }

  .triple-room-text1 {
    max-width: 355px;
  }

  .triple-room-text2 {
    max-width: 299px;
  }

  .triple-room-btns {
    position: absolute;
    top: 0;
    margin-bottom: 0;
  }
}