<section class="about-complex">
    <div class="container">
        <h2 class="about-complex-logo" id="home">About Complex</h2>
        <div class="about-complex-rest">
        <div style="width:212px;height:61px;" class="about-complex-girl">
            <img src="../../img/about-complex/about-complex-girl.jpg" alt="girl" class="photo-ellipse">
            <div class="about-complex-title">
            <h3 class="rect-title">Maria</h3>
            <p class="rect-text">give rating <span class="rect-text-2">4.5</span> </p>
            </div>
        </div>
        <ul class="complex-photo-title">
            <li class="about-complex-1 list">
                <img src="../../img/about-complex/about-complex-1.jpg" alt="" class="complex-1">
            </li>
            <li class="about-complex-2 list">
                <img src="../../img/about-complex/about-complex-2.jpg" alt="" width="439" class="complex-2">
            </li>
        </ul>
        <ul class="about-complex-content">
            <li class="content-complex list">
                <h3 class="content-complex-sup">Restaurant-Hotel Complex</h3>
                <div class="about-complex-sub">
                <p class="content-complex-sub">Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the most succulent steaks, every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.</p>
                <p class="content-complex-sub-2">Treat yourself to a taste of the good life and come dine with us today!</p>
                </div>
            </li>
        </ul>
        </div>
        <div class="about-complex-bus">
        <ul class="about-complex-content-2 complex-photo-title">
            <li class="about-complex-3 list">
                <img  src="../../img/about-complex/about-complex-3.jpg" alt="">
            </li>
            <li class="content-hotel list">
                <h3 class="content-hotel-sup">Business Class Hotel</h3>
                <p class="content-hotel-sub">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.</p>
                <div style="width:212px;height:61px;" class="about-complex-boy">
                    <img src="../../img/about-complex/about-complex-boy.jpg" alt="boy" class="photo-ellipse">
                    <div class="about-complex-title">
                    <h3 class="rect-title">Alexander</h3>
                    <p class="rect-text">give rating <span class="rect-text-2">5.5</span> </p>
                </div>
                <li class="about-complex-4 list">
                    <img  src="../../img/about-complex/about-complex-4.jpg" alt="">
                </li>
            </li>
        </ul>
        </div>
    </div>
</section>