<section class="container section-main-hotel">
    
<div class="hotel-desk">
<article class="hotel-item">
<h3 class="hotel" id="hotel">Hotel</h3>
<p class="hotel-text">Book your stay with us now and
experience the epitome of comfort and luxury at our hotel. 
We guarantee you'll be thrilled with your decision.</p></article>

<div class="hotel-button-desk">
<button class="book-room-btn">Book a room</button>
<button class="view-prices-desk-btn">View room</button>
</div>
<picture>
    <source srcset="mdn-logo.svg" type="i">
    <img src="mdn-logo.png" alt="MDN">
   </picture>
</div>
<!--
<div class="hotel-img">
<div class="hotel-responsive">
<div><h3>1</h3></div>
<div><h3>2</h3></div>
<div><h3>3</h3></div>
<div><h3>4</h3></div>
<div><h3>5</h3></div>-->
</div>
    
<div class="hotel-button">
    <button class="book-a-room-btn">Book a room</button>
    <button class="view-prices-btn">View room</button>
</div>
    
</section>