<section class="container section-main-hotel">
    
<div class="hotel-desk">
<article class="hotel-item">
<h3 class="hotel" id="hotel">Hotel</h3>
<p class="hotel-text">Book your stay with us now and
experience the epitome of comfort and luxury at our hotel. 
We guarantee you'll be thrilled with your decision.</p></article>

<div class="hotel-button-desk">
<button class="book-room-btn">Book a room</button>
<button class="view-prices-desk-btn">View room</button>
</div>
<div class="section-pictures">

<picture class="pictures-hotel-mob">
    <source 
    media="(min-width: 375px)" 
    srcset="
    ../../img/main-hotel/mob/img.1.jpg 1x,
    ../../img/main-hotel/mob/img.1.2x.jpg 2x" >
    <img src="" alt="MDN">
    </picture>
<picture  class="pictures-hotel-tab">
    <source 
    media="(min-width: 768px)"
    srcset="
    ../../img/main-hotel/mob/img.2.jpg 1x,
    ../../img/main-hotel/mob/img.2.2x.jpg 2x" >
    <source 
    media="(min-width: 768px)"
    srcset="
    ../../img/main-hotel/mob/img.1.jpg 1x,
    ../../img/main-hotel/mob/img.1.2x.jpg 2x" >
    <img src="" alt="MDN">

    <source 
    media="(min-width: 1440px)"
    srcset="
    ../../img/main-hotel/mob/img.1.jpg 1x,
    ../../img/main-hotel/mob/img.1.2x.jpg 2x" >
    <img src="" alt="MDN">

    <source 
    media="(min-width: 1440px)"
    srcset="
    ../../img/main-hotel/mob/img.1.jpg 1x,
    ../../img/main-hotel/mob/img.1.2x.jpg 2x" >
    <img src="" alt="MDN">
</picture>
   
</div>

<div class="hotel-img-slick">
<div class="hotel-responsive">
<div><h3>1</h3></div>
<div><h3>2</h3></div>
<div><h3>3</h3></div>
<div><h3>4</h3></div>
<div><h3>5</h3></div>-->
</div>
</div>    
<div class="hotel-button">
    <button class="book-a-room-btn">Book a room</button>
    <button class="view-prices-btn">View room</button>
</div>
    
</section>