<section class="section-main-restaurant  ">
    <div class="container">   
        <div class="restaurant-desk ">
        <article class="restaurant-item">
        <h3 class="restaurant" id="restaurant">restaurant</h3>
        <p class="restaurant-text">Relax and unwind with 
        our delicious offerings, available any time of day.</p></article>
        </div>
    
    <div class="section-restaurant-pictures">
    <ul class="image">
    <li class="img-restaurant"> 
    <img
    src="../../img/restaurant/img1.jpg" alt="" 
    srcset="
    ../../img/restaurant/img.1.jpg 1x, 
    ../../img/restaurant/img.1.2jpg 2x" 
    width="100%" height="100%"></li>

    <li class="img-restaurant"> 
    <img 
    src="../../img/restaurant/img.2.jpg" alt="" 
    srcset="
    ../../img/restaurant/img.2.jpg 1x, 
    ../../imgrestaurant/img.2.2jpg 2x" 
    width="100%" height="100%"></li>
    </ul></div>
     
    
    
    </div>     
    <div class="restaurant-button">
    <button class="restaurant-book-a-room-btn">Book a room</button>
    <button class="restaurant-view-prices-btn">View room</button>
    </div>
    </div>   
    </div>      
    </section>