<section class="section-main-restaurant">
<div class="container">   
<div class="restaurant-desk">
<article class="restaurant-item">
<h3 class="restaurant" id="restaurant">restaurant</h3>
<p class="restaurant-text">Relax and unwind with 
our delicious offerings, available any time of day.</p></article>
<div class="restaurant-button-desk">
<button class="book-a-table-btn">Book a table</button>
<button class="view-the-menu-btn">View the menu</button>
</div>
</div>
    

<div class="multiple-items-two">
<div class="multiple-res">
<img class="multiple-img"
src="../../img/restaurant/img.1.jpg" 
alt="" 
srcset="
../../img/restaurant/img.1.jpg 1x,
../../img/restaurant/img.1.jpg 2x"
width="100%" height="100%">   </div>
<div class="multiple-res">
<img class="multiple-img"
src="../../img/restaurant/img.2.jpg.jpg" 
alt="" 
srcset="
../../img/restaurant/img.2.jpg 1x,
../../img/restaurant/img.2.jpg 2x"
width="100%" height="100%">   </div>
<div class="multiple-res">
<img class="multiple-img"
src="../../img/restaurant/img.3.jpg" 
alt="" 
srcset="
../../img/restaurant/img.3.jpg 1x,
../../img/restaurant/img.3.2.jpg 2x"
width="100%" height="100%"></div>
<div class="multiple-res">
    <img class="multiple-img"
    src="../../img/restaurant/img.4.jpg" 
    alt="" 
    srcset="
    ../../img/restaurant/img.4.jpg 1x,
    ../../img/restaurant/img.4.2.jpg 2x"
    width="100%" height="100%"></div>
    <div class="multiple-res">
        <img class="multiple-img"
        src="../../img/restaurant/img.3.jpg" 
        alt="" 
        srcset="
        ../../img/restaurant/img.5.jpg 1x,
        ../../img/restaurant/img.5.2.jpg 2x"
        width="100%" height="100%"></div>
</div>
<div class="multiple-items">
    <div class="multiple-res">
    <img class="multiple-img"
    src="../../img/restaurant/img.1.jpg" 
    alt="" 
    srcset="
    ../../img/restaurant/img.1.jpg 1x,
    ../../img/restaurant/img.1.jpg 2x"
    width="100%" height="100%">   </div>
    <div class="multiple-res">
    <img class="multiple-img"
    src="../../img/restaurant/img.2.jpg.jpg" 
    alt="" 
    srcset="
    ../../img/restaurant/img.2.jpg 1x,
    ../../img/restaurant/img.2.jpg 2x"
    width="100%" height="100%">   </div>
    <div class="multiple-res">
        <img class="multiple-img"
        src="../../img/restaurant/img.4.jpg" 
        alt="" 
        srcset="
        ../../img/restaurant/img.4.jpg 1x,
        ../../img/restaurant/img.4.2.jpg 2x"
        width="100%" height="100%"></div>
    <div class="multiple-res">
    <img class="multiple-img"
    src="../../img/restaurant/img.3.jpg" 
    alt="" 
    srcset="
    ../../img/restaurant/img.3.jpg 1x,
    ../../img/restaurant/img.3.2.jpg 2x"
    width="100%" height="100%"></div>
    <div class="multiple-res">
        <img class="multiple-img"
        src="../../img/restaurant/img.1.jpg" 
        alt="" 
        srcset="
        ../../img/restaurant/img.1.jpg 1x,
        ../../img/restaurant/img.1.jpg 2x"
        width="100%" height="100%">   </div>
    <div class="multiple-res">
        <img class="multiple-img"
        src="../../img/restaurant/img.4.jpg" 
        alt="" 
        srcset="
        ../../img/restaurant/img.4.jpg 1x,
        ../../img/restaurant/img.4.2.jpg 2x"
        width="100%" height="100%"></div>
        
        <div class="multiple-res">
            <img class="multiple-img"
            src="../../img/restaurant/img.3.jpg" 
            alt="" 
            srcset="
            ../../img/restaurant/img.5.jpg 1x,
            ../../img/restaurant/img.5.2.jpg 2x"
            width="100%" height="100%"></div>
            <div class="multiple-res">
                <img class="multiple-img"
                src="../../img/restaurant/img.4.jpg" 
                alt="" 
                srcset="
                ../../img/restaurant/img.4.jpg 1x,
                ../../img/restaurant/img.4.2.jpg 2x"
                width="100%" height="100%"></div>
    </div>      
<!--
    <div class="restaurant-pictures">
    <ul class="image">
    <li class="img-restaurant"> 
    <img
    src="" alt="" 
    srcset=""
    width="100%" height="100%"></li>

    <li class="img-restaurant"> 
    <img 
    src="" alt="" 
    srcset="" 
    width="100%" height="100%"></li>
    </ul></div>
     -->
    
    
    </div>     
    <div class="restaurant-button">
    <button class="book-a-table-btn">Book a table</button>
    <button class="view-menu-btn">View the menu</button>
    </div>
    </div>   
    </div>      
    </section>