<section class="welcome-section">
  <div class="container container-welcome">
    <div class="welcome">
      <h3 class="welcome-title">
        Welcome to the epitome of <span>luxury</span> and <span>comfort</span>
      </h3>
      <div class="welcome-descr">
        <p class="descr-hotel">
          Our hotel rooms are elegantly designed with an eye for detail,
          ensuring that you have everything you need for a relaxing and
          rejuvenating stay.
        </p>
        <p class="descr-room">
          Each room is equipped with the latest amenities, including plush
          bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help
          you start your day right.Our spacious bathrooms feature luxurious
          toiletries and towels, so you can pamper yourself in complete privacy.
        </p>
      </div>
    </div>
    <!-- <div class="welcome-img"></div> -->
    <div class="welcome-img">
      <picture class="cooker-pic">
        <source
          media="(min-width: 1440px)"
          srcset="./img/welcome/welcome.jpg 1x, ./img/welcome/welcome-2x.jpg 2x"
          width="100%"
          height="100%"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/welcome/welcome-tablet.jpg    1x,
            ./img/welcome/welcome-tablet-2x.jpg 2x
          "
          width="100%"
          height="100%"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/welcome/welcome-mobile.jpg    1x,
            ./img/welcome/welcome-mobile-2x.jpg 2x
          "
          width="100%"
          height="100%"
        />
        <img src="./img/welcome/welcome.jpg" class="" alt="Welcome-picture" />
      </picture>
    </div>
  </div>
</section>
