.section-menu {
  padding-bottom: 64px;
  padding-top: 40px;
  background-color: var(--dark);
}

.container-menu {
  margin-bottom: 38px;
}

.menu-title {
  margin-bottom: 36px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;

  color: var(--light);
}

.menu-item-title {
  margin-bottom: 32px;

  font-size: 18px;
  font-style: italic;
  font-weight: 700;

  text-transform: uppercase;

  color: var(--light);
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu-item:not(:first-child) {
  padding-top: 14px;
}

.menu-text {
  max-width: 233px;
}

.menu-name {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  color: var(--light);
}

.menu-name-desert-drink {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  color: var(--light);
}

.menu-name:before,
.menu-name-desert-drink:before {
  content: '\00A0\00A0\00A0\2022\00A0\00A0\00A0';
  color: var(--light);
}

.menu-content {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.18em;

  color: rgba(216, 215, 215, 0.5);
}

.menu-weight {
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  text-align: end;

  color: var(--secondary-text);
}

.menu-price {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  text-align: end;

  color: var(--light);
}


/*---------------------до 767 рх----------------*/
@media screen and (max-width: 767px) {
  .btn_rest_menu {
    display: block;

    margin-left: auto;
    margin-right: auto;
  }
}
/*---------------------/до 767 рх/----------------*/

/*-------------------------------TABLET----------------------------*/
@media screen and (min-width: 768px) {
  .section-menu {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .wrap-menu {
    padding-left: 127px;
    padding-right: 126px;
  }
  .menu-title {
    margin-bottom: 64px;

    font-size: 40px;
    line-height: 1.1;
  }

  .menu-item-title {
    font-size: 24px;
    line-height: 1;
  }

  .menu-text {
    max-width: 345px;
  }

  .menu-name {
    font-size: 18px;
    line-height: 1.5;
  }

  .menu-name-desert-drink {
    font-size: 18px;
    line-height: 1.33;
  }

  .menu-content {
    font-size: 12px;
    line-height: 1.5;
  }

  .menu-weight {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.29;
  }

  .menu-price {
    font-size: 18px;
    line-height: 1.33;
  }

}
/*=====================/TABLET/==================*/

/*---------------------до 1439 рх----------------*/
@media screen and (max-width: 1439px) {
  .menu-is-hidden {
    display: none;
  }

  .switch-slide {
    margin-bottom: 40px;
    text-align: center;
  }

  .btn-switch-pre-slide,
  .btn-switch-next-slide {
    width: 24px;
    height: 24px;
    background-color: var(--dark);
    border: 1px solid var(--dark);
  }

  .btn-switch-pre-slide {
    margin-right: 20px;
  }

  .pre-slide,
  .next-slide {
    fill: var(--dark);
    stroke: var(--light);
  }

  .pre-slide {
    opacity: 0.3;
  }
}
/*---------------------/до 1439 рх/----------------*/
/*---------------------------DECKTOP------------------------*/
@media screen and (min-width: 1440px) {
  .section-menu {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .wrap-menu {
    padding-left: 168px;
    padding-right: 168px;
  }

  .container-menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 56px;
    column-gap: 74px;
    margin-bottom: 56px;
  }

  .container-menu-item {
    flex-basis: calc((100% - 74px) / 2);
  }

  .menu-title {
    margin-bottom: 100px;
  }
  .menu-name {
    line-height: 1.33;
  }
  .menu-item-title {
    font-size: 24px;
    line-height: 1;
  }

  .menu-desserts {
    margin-bottom: 28px;
  }
  .switch-slide {
    display: none;
  }
}
